body {
    background-color: rgba(220, 220, 220, 0.767);
}

.head {
    margin-top: 100px;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.container {
    padding: 10px;
    padding-bottom: 20px;
    border-radius: 15px;
    margin: 100px auto 20px;
    width: 600px;
    height: auto;
    background-color: white;
    box-shadow: inset;
}

#input input[type="text"] {
    margin-left: 40px;
    margin-top: 40px;
    text-align: start;
    border: 1px solid gainsboro;
    border-radius: 5px;
    outline: none;
    font-size: medium;
    padding-left: 10px;
}

.add {
    background-color: rgb(24, 199, 24);
    color: white;
    border: none;
    height: 45px;
    width: 55px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

ul {
    list-style: none;
}

li {

    height: 50px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: whitesmoke;
    padding: 10px;
    width: 480px;
    border-radius: 8px;
    margin-bottom: 10px;
}

li button {
    position: absolute;
    margin-right: 420px;
    right: 0;
    height: 45px;
    width: 65px;
    font-size: 16px;
    border: none;
    padding: 10px;
    background-color: rgb(237, 27, 27);
    color: white;
    border-radius: 5px;
    cursor: pointer;

}

button:hover {
    border: 1px solid;
}